<div class="container-lg p-5">   
    <div class="text-center">
        <h2>Summary of All Expenses:</h2>
    <canvas #categoryChart></canvas>
    <!-- <p>Total expenses(summary): {{totalExpensesSummary}}</p> -->
    <div class="container row">
       <div class="col">
            <h2>Weekly Expenses:</h2>
            <canvas #weeklyChart></canvas>
       </div>
       <div class="col">
            <h2>Daily Expenses:</h2>
            <canvas #dailyChart></canvas>
       </div>
    </div>
    </div>
    
    
</div>

