
<div class="container w-25 p-5 mt-5">
    <h1>Add Due</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" formControlName="name" id="name" class="form-control">
            <div *ngIf="input['name'].touched && input['name'].invalid" class="alert alert-danger">
                <div *ngIf="input['name'].errors && input['name'].errors['required']">Due bill name is required!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description: </label>
            <textarea formControlName="description" id="description" class="form-control"> </textarea>
            <div *ngIf="input['description'].touched && input['description'].invalid" class="alert alert-danger">
                <div *ngIf="input['description'].errors && input['description'].errors['required']">description is required!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="price">Price: </label>
            <input type="number" formControlName="price" id="price" class="form-control">
            <div *ngIf="input['price'].touched && input['price'].invalid" class="alert alert-danger">
                <div *ngIf="input['price'].errors && input['price'].errors['required']">Price is required!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="dueDate">Due Date: </label>
            <input type="date" formControlName="dueDate" id="dueDate" class="form-control">
            <div *ngIf="input['dueDate'].touched && input['dueDate'].invalid" class="alert alert-danger">
                <div *ngIf="input['dueDate'].errors && input['dueDate'].errors['required']">Date is required!</div>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-5">
            <input type="submit" class="btn btn-primary" [disabled]="!form.valid" value="Submit">
            <a href="#" routerLink="/due/index" class="btn btn-warning">Go Back to List</a>
        </div>
    </form>
</div>
